
<html>
    <head>
        <title>Aitats's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Aitats Blog</a></h1>
        </div>
        {% for post in posts %}
        <div>
            <h2><a href="">{{post.title}}</a></h2>
            <p>{{post.text|linebreaksbr}}</p> 
            <small><b><em>Published:</em></b> {{post.published_date}}</small><br/>
            <small><b><em>Author:</em></b> {{post.author}}</small>
        </div>
        {% endfor %}
    </body>
</html>